*.DS_Store
*~
suika.app
suika.exe
build/linux/*.o
build/linux/libroot
build/linux/suika
build/mingw/*.o
build/mingw/libroot
build/mingw/suika.exe
build/mingw/res/resource.aps
build/macos/libroot
build/macos/suika.xcodeproj/project.xcworkspace
build/macos/suika.xcodeproj/xcshareddata
build/macos/suika.xcodeproj/xcuserdata
build/freebsd/*.o
build/freebsd/libroot
build/freebsd/suika
build/netbsd/*.o
build/netbsd/libroot
build/netbsd/suika
build/android/.idea/caches
build/msvc/.vs
build/msvc/zlib
build/msvc/libpng
build/msvc/libogg
build/msvc/libvorbis
build/msvc/freetype
build/msvc/Debug
build/msvc/Release
build/msvc/suika/Debug
build/msvc/suika/Release
game-jp/log.txt
game-jp/sav
game-en/log.txt
game-en/sav
game-jp-small/log.txt
game-jp-small/sav
game-en-small/log.txt
game-en-small/sav
build/release/mac.dmg
build/release/suika-2.x.x-jp.zip
build/release/suika-2.x.x-en.zip
build/emscripten/html
build/web-kit/suika2-web-kit-2.x.x-en.zip
build/web-kit/suika2-web-kit-2.x.x-jp.zip
