# Credentials
build/.env
build/macos/.passwd

# Garbage
*.DS_Store
*~
.vscode/settings.json
game/log.txt
game/sav

# Top level objects
suika.exe
suika-pro.exe
suika-capture.exe
suika-64.exe
suika-arm64.exe
mac.dmg
mac-pro.dmg
mac-capture.dmg
mac-replay.dmg
mac.zip
pack.mac

# mingw
build/mingw/*.o
build/mingw/libroot
build/mingw/suika.exe
build/mingw/res/resource.aps
build/mingw/sync.sh

# mingw-64
build/mingw-64/*.o
build/mingw-64/libroot
build/mingw-64/suika-64.exe

# mingw-arm64
build/mingw-arm64/*.o
build/mingw-arm64/llvm
build/mingw-arm64/libroot
build/mingw-arm64/suika-arm64.exe

# mingw-pro
build/mingw-pro/*.o
build/mingw-pro/libroot
build/mingw-pro/suika-pro.exe

# mingw-capture
build/mingw-capture/*.o
build/mingw-capture/libroot
build/mingw-capture/suika-capture.exe

# mingw-replay
build/mingw-replay/*.o
build/mingw-replay/libroot
build/mingw-replay/suika-replay.exe

# Visual Studio (just for test build)
build/vs/.vs
build/vs/zlib
build/vs/libpng
build/vs/libogg
build/vs/libvorbis
build/vs/freetype
build/vs/jpeg
build/vs/Debug
build/vs/Release
build/vs/suika/Debug
build/vs/suika/Release
build/vs/suika-pro/Debug
build/vs/suika-pro/Release

# macOS
build/macos/libroot
build/macos/build
build/macos/suika.xcodeproj/project.xcworkspace
build/macos/suika.xcodeproj/xcshareddata
build/macos/suika.xcodeproj/xcuserdata

# iOS (iPhone and iPad)
build/ios/libroot
build/ios/suika.xcodeproj/project.xcworkspace
build/ios/suika.xcodeproj/xcuserdata
build/ios/suika.xcodeproj/xcshareddata
build/ios/ios-src

# Android
build/android/.idea/caches
build/android/app/.cxx
build/android/app/src/main/assets
build/android/app/src/main/cpp/freetype
build/android/app/src/main/cpp/libpng
build/android/app/src/main/cpp/jpeg
build/android/app/src/main/cpp/*.[ch]
build/android/cmdline-tools
build/android/commandlinetools-linux-*.zip
build/android/android-src

# Linux
build/linux-x86_64/*.o
build/linux-x86_64/libroot
build/linux-x86_64/suika

# Linux (clang)
build/linux-x86_64-clang/*.o
build/linux-x86_64-clang/libroot
build/linux-x86_64-clang/suika

# Linux Capture
build/linux-x86_64-capture/*.o
build/linux-x86_64-capture/libroot
build/linux-x86_64-capture/suika-capture

# Linux Replay
build/linux-x86_64-replay/*.o
build/linux-x86_64-replay/*.gcda
build/linux-x86_64-replay/*.gcno
build/linux-x86_64-replay/libroot
build/linux-x86_64-replay/suika-replay
build/linux-x86_64-replay/app.info
build/linux-x86_64-replay/lcovoutput

# Raspberry Pi (Linux Arm)
build/raspberrypi/*.o
build/raspberrypi/libroot
build/raspberrypi/suika

# Linux (SDL2: a virtual porting base for game consoles)
build/sdl2/*.o
build/sdl2/libroot
build/sdl2/suika

# FreeBSD
build/freebsd/*.o
build/freebsd/libroot
build/freebsd/suika

# NetBSD
build/netbsd/*.o
build/netbsd/libroot
build/netbsd/suika

# Switch homebrew
build/switch/libroot
build/switch/exefs
build/switch/romfs
build/switch/tmp
build/switch/*.o
build/switch/*.elf
build/switch/*.nro
build/switch/*.nacp
build/switch/*.nsp

# Web
build/emscripten/html

# New Pro

# New Windows Pro (Qt6)
build/qt-windows-pro/*.cpp
build/qt-windows-pro/*.h
build/qt-windows-pro/deps
build/qt-windows-pro/build
build/qt-windows-pro/CMakeLists.txt.user
build/qt-windows-pro/*.cpp
build/qt-windows-pro/*.h
build/qt-windows-pro/*.ui

# New Mac Pro (Qt6)
build/qt-macos-pro/*.cpp
build/qt-macos-pro/*.h
build/qt-macos-pro/deps
build/qt-macos-pro/build
build/qt-macos-pro/CMakeLists.txt.user
build/qt-macos-pro/*.cpp
build/qt-macos-pro/*.h
build/qt-macos-pro/*.ui

# New Linux Pro (Qt6)
build/qt-linux-pro/deps
build/qt-linux-pro/build
build/qt-linux-pro/CMakeLists.txt.user
build/qt-linux-pro/*.cpp
build/qt-linux-pro/*.h
build/qt-linux-pro/*.ui

# Tests
testcases
