#
# Credentials
#

.env
.passwd

#
# Third-party IP
#

iemote.h
emotedriver.dll
emotedriver.lib
emote_test.psb

#
# Garbages
#

*.DS_Store
*~
.vscode/settings.json
log.txt
sav

#
# Main Engine
#

# Windows
*.o
libroot
libroot-device
libroot-sim
libroot-macos
libroot-ios-device
libroot-ios-sim
*.exe
*.aps
llvm
llvm-mingw-*-aarch64.tar.xz

# Visual Studio 2022
build/engine-windows-vs2022/.vs
build/engine-windows-vs2022/zlib
build/engine-windows-vs2022/libpng
build/engine-windows-vs2022/libogg
build/engine-windows-vs2022/libvorbis
build/engine-windows-vs2022/freetype
build/engine-windows-vs2022/jpeg
build/engine-windows-vs2022/bzip2
build/engine-windows-vs2022/libwebp
build/engine-windows-vs2022/obj
build/engine-windows-vs2022/Debug
build/engine-windows-vs2022/Release
build/engine-windows-vs2022/ARM64
build/engine-windows-vs2022/x64
build/engine-windows-vs2022/testgame

# macOS
build/engine-macos/engine-macos.xcodeproj/project.xcworkspace
build/engine-macos/engine-macos.xcodeproj/xcshareddata
build/engine-macos/engine-macos.xcodeproj/cuserdata
build/engine-macos/engine-macos.xcodeproj/xcuserdata
build/engine-macos/libroot
build/engine-macos/libroot-mac.tar.gz
build/engine-macos/suika-mac.dmg
build/engine-macos/build

# Wasm
build/engine-wasm/html
build/engine-wasm/emsdk
build/engine-wasm/data01.arc

# iOS
build/engine-ios/libroot
build/engine-ios/engine-ios.xcodeproj/project.xcworkspace
build/engine-ios/engine-ios.xcodeproj/xcshareddata
build/engine-ios/engine-ios.xcodeproj/cuserdata
build/engine-ios/engine-ios.xcodeproj/xcuserdata
build/engine-ios/engine-ios/data01.arc
build/engine-ios/ios-src
build/engine-ios/libroot-ios.tar.gz
build/engine-ios/libroot-ios-sim.tar.gz
build/engine-ios/build

# Android
build/engine-android/.idea
build/engine-android/app/.cxx
build/engine-android/app/src/main/assets
build/engine-android/app/src/main/cpp
build/engine-android/cmdline-tools
build/engine-android/commandlinetools-linux-*.zip
build/engine-android/android-src

# Linux
build/engine-linux/suika

#
# Pro
#

# Windows
build/pro-windows-vs2022/.vs/
build/pro-windows-vs2022/Debug/
build/pro-windows-vs2022/Release/
build/pro-windows-vs2022/bzip2/
build/pro-windows-vs2022/freetype/
build/pro-windows-vs2022/jpeg/
build/pro-windows-vs2022/libogg/
build/pro-windows-vs2022/libpng/
build/pro-windows-vs2022/libvorbis/
build/pro-windows-vs2022/libwebp/
build/pro-windows-vs2022/obj/
build/pro-windows-vs2022/x64/
build/pro-windows-vs2022/zlib/

# macOS
build/pro-macos/pro-macos.xcodeproj/project.xcworkspace
build/pro-macos/pro-macos.xcodeproj/xcshareddata
build/pro-macos/pro-macos.xcodeproj/cuserdata
build/pro-macos/pro-macos.xcodeproj/xcuserdata
build/pro-macos/libroot-mac.tar.gz
build/pro-macos/build/
build/pro-macos/tmp/
build/pro-macos/suika2.dmg

# iOS
build/pro-ios/pro-ios.xcodeproj/project.xcworkspace
build/pro-ios/pro-ios.xcodeproj/xcshareddata
build/pro-ios/pro-ios.xcodeproj/cuserdata
build/pro-ios/pro-ios.xcodeproj/xcuserdata
build/pro-ios/libroot-ios.tar.gz
build/pro-ios/build/
build/pro-ios/tmp/

# Android
build/pro-android/.idea
build/pro-android/app/src/main/assets
build/pro-android/app/src/main/cpp
build/pro-android/app/release
build/pro-android/app/debug

# Linux
build/pro-linux/deps
build/pro-linux/build
build/pro-linux/CMakeLists.txt.user

# Wasm
build/pro-wasm/html
build/pro-wasm/emsdk
build/pro-wasm/data01.arc

#
# Installer
#
build/installer-windows/games
build/installer-windows/tools/
build/installer-windows/readme-en.html
build/installer-windows/readme-jp.html
build/installer-windows/plaintext.code-snippets.en
build/installer-windows/plaintext.code-snippets.jp
build/installer-windows/suika2.zip

#
# Misc.
#

# Ubuntu PPA
build/ppa/work

# Console Example with SDL2
build/experimental-engine-console/libroot
build/experimental-engine-console/exefs
build/experimental-engine-console/romfs
build/experimental-engine-console/tmp
build/experimental-engine-console/*.o
build/experimental-engine-console/*.elf
build/experimental-engine-console/*.nro
build/experimental-engine-console/*.nacp
build/experimental-engine-console/*.nsp

#
# Website
#

doc/web/tmp
