body {
  margin: 0;
  padding: 0;
  overflow: none;
}

/* スプラッシュ画面イメージ | Splash screen image  */
.splash-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
