# Credentials
.env

# Garbage
logs
node_modules
dist
.DS_Store

# Suika2 binaries
apps/suika.exe
apps/suika-pro.exe
apps/mac.zip
apps/mac.dmg
apps/pack.mac
apps/index.html
apps/index.js
apps/index.wasm
apps/kirara-helper-current.zip
